---
layout: default
---

<article id="work" class="work-types">
   <span id="goto-work" class="nav-adjust"></span>
   <h2>Design Work</h2>
   <div>
    <ul>
       {% for post in site.posts %}
          {% if post.category contains "design" %}
             <li>
                <a href="{{ post.url | prepend: site.baseurl }}">
                   <figure>
                      <img src="{{ site.baseurl }}/assets/work/thumbnails/{{ post.thumbnail }}" alt="{{ post.title }}" />
                   </figure>
                   <div class="caption">
                      <h3>{{ post.title }}</h3>
                      <p>{{ post.disciplines }}</p>
                   </div>
                </a>
             </li>
          {% endif %}
       {% endfor %}
       <div class="spacer"></div>
    </ul>
<div class="spacer"></div>
</div>
</article>

<article id="illustration" class="work-types">
   <span id="goto-illustration" class="nav-adjust"></span>
   <h2>Illustration Work</h2>
   <div>
    <ul>
       {% for post in site.posts %}
          {% if post.category contains "illustration" %}
             <li>
                <a href="{{ post.url | prepend: site.baseurl }}">
                   <figure>
                      <img src="{{ site.baseurl }}/assets/work/thumbnails/{{ post.thumbnail }}" alt="{{ post.title }}" />
                   </figure>
                   <div class="caption">
                      <h3>{{ post.title }}</h3>
                      <p>{{ post.disciplines }}</p>
                   </div>
                </a>
             </li>
          {% endif %}
       {% endfor %}
       <div class="spacer"></div>
    </ul>
<div class="spacer"></div>
</div>
</article>

<!-- {% if post.visible %}
{% endif %} -->
