<article id="contact">
   <span id="goto-contact" class="nav-adjust"></span>
   <h2>Contact Me</h2>
   <section class="center">
      <div class="text">
         {% capture contact-details %}{% include contact-details.md %}{% endcapture %}
         {{ contact-details | markdownify }}
         <ul>
            <li>
               <a href="https://www.linkedin.com/in/atiyya">
                  <span class="fa fa-linkedin"></span>
                  LinkedIn
               </a>
            </li>
            <li>
               <a href="http://instagram.com/atiyyas">
                  <span class="fa fa-instagram"></span>
                  Instagram
               </a>
            </li>
         </ul>
      </div>
   </section>
   <div class="spacer"></div>
</article>
