<article id="contact">
   <span id="goto-contact" class="nav-adjust"></span>
   <h2>Contact Me</h2>
   <section class="center">
      <div class="text">
         {% capture contact-details %}{% include contact-details.md %}{% endcapture %}
         {{ contact-details | markdownify }}
         <ul>
            <li>
               <a href="https://www.linkedin.com/in/atiyya">
                  <span class="fa fa-linkedin"></span>
                  LinkedIn
               </a>
            </li>
            <li>
               <a href="http://instagram.com/atiyyas">
                  <span class="fa fa-instagram"></span>
                  Instagram
               </a>
            </li>
         </ul>
      </div>
      <form action="https://getsimpleform.com/messages?form_api_token=3faddaa7b0b53c534c0368b0594a93d0" method="post">
         <input type="hidden" name="redirect_to" value="{{ site.url }}/thanks" />
         <label for="name">Name</label>
         <input type="text" id="name" name="name" placeholder="Your Name">
         <label for="email">Email</label>
         <input type="email" id="email" name="email" placeholder="you@example.com">
         <label for="message">Message</label>
         <textarea id="message" name="message"></textarea>
         <input type="submit" value="Send" />
      </form>
   </section>
   <div class="spacer"></div>
</article>
