<header>
   <div>
      <h1>
         <a href="{{ site.baseurl }}/index.html">
            <img src="{{ site.baseurl }}/assets/site-design/logo.svg" alt="Atiyya | Web / Graphic Design" onerror="{{ site.url }}{{ site.baseurl }}/assets/site-design/logo.png" />
         </a>
      </h1>
      <nav>
         <div class="nav-toggle">
            <span class="fa fa-bars"></span>
         </div>
         <ul>
            <li><a href="{{ site.baseurl }}/index.html#goto-work">Portfolio </a></li>
            <!-- <li><a href="{{ site.baseurl }}/index.html#goto-illustration">Illustration </a></li> -->
            <li><a href="{{ site.baseurl }}/index.html#goto-about">About</a></li>
            <li><a href="{{ site.baseurl }}/index.html#goto-contact">Contact</a></li>
            <!-- <li><a href="http://illustration.atiyya.net/">Illustration Site <span class="fa fa-external-link"></span></a></li> -->
         </ul>
      </nav>
   </div>
</header>
